.home-page-container {
    .home-page-display {
        -webkit-box-align: stretch;
        align-items: stretch;
        border: 0 solid #000;
        box-sizing: border-box;
        flex-shrink: 0;
        padding: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        margin: 0 auto;
        position: relative;
        width: 100%;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row nowrap;

    }
}