.home-page-container {
  margin-left: 5rem;
  height: 100vh;
  animation: scale 600ms ease-in-out forwards;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.09);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.home-page-container .home-page-display {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.home-page-container .home-page-display .home-food-container {
  width: 100%;
  flex-grow: 1;
  padding: 1em 2em;
  height: 100%;
  overflow-y: scroll;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

.home-page-container .home-page-display .home-food-container:hover::-webkit-scrollbar {
  display: block;
}

.home-page-container .home-page-display .home-food-container::-webkit-scrollbar {
  width: 0.4em;
  display: none;
  transition: 1s linear;
}

.home-page-container .home-page-display .home-food-container::-webkit-scrollbar-track {
  background: #252836;
}

.home-page-container .home-page-display .home-food-container::-webkit-scrollbar-thumb {
  background: #1F1D2B;
  border-radius: 100vh;
  opacity: 0.1;
}

.home-page-container .home-page-display .home-food-container .home-food-display {
  display: flex;
  flex-direction: column;
}

.home-page-container .home-page-display .home-food-order-list-container {
  position: relative;
  height: 100vh;
  background: #1F1D2B;
  border-radius: 10px 0 0 10px;
  width: 35rem;
  max-width: 35rem;
  padding: 1em;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display {
  width: 100%;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-tag {
  font-weight: 500;
  font-size: 1.5rem;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select .home-food-order-select-btn-container {
  margin-right: 1em;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select .home-food-order-select-btn-container button {
  border-radius: 8px;
  background: none;
  outline: none;
  padding: 0.6em;
  border: 1px solid #393C49;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: #EA7C69;
  cursor: pointer;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select .home-food-order-select-btn-container button:hover {
  background: #EA7C69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  color: #ffffff;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list {
  height: 100%;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .food-order-list-header-main-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.1rem;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #393C49;
  width: 100%;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .food-order-list-header-main-list .food-header-list-item-qty {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .food-order-list-header-main-list .food-header-list-price {
  width: 48px;
  margin-left: 1em;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .main-food-order-list-container .main-food-order-list-ul {
  list-style: none;
}
/*# sourceMappingURL=home.css.map */