.home-page-container {
  margin-left: 5rem;
  border: 1px solid red;
  height: 100vh;
  animation: scale 600ms ease-in-out forwards;
  overflow-y: scroll;
  position: relative;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.09);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.home-page-container .home-page-display {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.home-page-container .home-page-display .home-food-container {
  width: 52rem;
  max-width: 52rem;
  padding: 1em;
  height: 100%;
}

.home-page-container .home-page-display .home-food-container .home-food-display {
  display: flex;
  flex-direction: column;
}

.home-page-container .home-page-display .home-food-order-list-container {
  position: relative;
  height: 100vh;
  background: #1F1D2B;
  border-radius: 10px 0 0 10px;
  flex-grow: 1;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-tag {
  font-weight: 500;
  font-size: 1.5rem;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select .home-food-order-select-btn-container {
  margin-right: 1em;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select .home-food-order-select-btn-container button {
  border-radius: 8px;
  background: none;
  outline: none;
  padding: 0.6em;
  border: 1px solid #393C49;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #EA7C69;
  cursor: pointer;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-select .home-food-order-select-btn-container button:hover {
  background: #EA7C69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  color: #ffffff;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list {
  height: 100%;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .food-order-list-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  padding: 1em 0;
  border-bottom: 1px solid #393C49;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .food-order-list-header .food-list-item-qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.home-page-container .home-page-display .home-food-order-list-container .home-food-order-list-display .home-food-order-list-header .home-food-order-list-container-list .food-order-list-header .food-list-price {
  width: 60px;
  margin-left: 3em;
}
/*# sourceMappingURL=home.css.map */