.confirmation-payment-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 100;

    .confirmation-payment-display {
        width: 100%;
        max-width: 50rem;
        position: fixed;
        right: 0;
        top: 0;
        background: #1F1D2B;
        height: 100%;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: row;

        .confirm-container {
            padding: 1em;
            border-right: 1px solid #393C49;
            width: 100%;
        }

        .payment-container {
            padding: 1em;
            width: 100%;
        }
    }
}