.main-food-order-list-li-container {
  padding: 1em 0;
  border-radius: 4px;
}

.main-food-order-list-li-container:hover {
  background: #1F1D2B;
  box-shadow: 0px 8px 24px rgba(159, 164, 185, 0.4);
}

.main-food-order-list-li-container .main-food-order-list-li {
  list-style: none;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item {
  display: flex;
  flex-direction: column;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail {
  display: flex;
  flex-direction: row;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail .main-food-order-list-detail-image-container {
  margin-right: 1em;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail .main-food-order-list-detail-image-container img {
  width: 50px;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail .main-food-order-list-detail-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail .main-food-order-list-detail-name-container .main-food-order-list-detail-order-name-display p {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail .main-food-order-list-detail-name-container .main-food-order-list-detail-padding {
  padding: 0.2em 0;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-detail .main-food-order-list-detail-name-container .main-food-order-list-price-number {
  font-size: 13px;
  color: #ABBBC2;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-container .main-food-order-list-qty {
  width: 48px;
  height: 48px;
  background: #2D303E;
  border: 1px solid #393C49;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-qty-price-display .main-food-order-list-detail-order-price {
  display: flex;
  margin-left: 1em;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-middle-padding {
  padding: 0.4em 0;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-order-note-btn-display {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-order-note-btn-display .main-food-order-list-order-note-container {
  width: 100%;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-order-note-btn-display .main-food-order-list-order-note-container .main-food-order-list-order-input-note-display {
  background: #2D303E;
  border: 1px solid #393C49;
  border-radius: 8px;
  height: 48px;
  width: 100%;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-order-note-btn-display .main-food-order-list-order-note-container .main-food-order-list-order-input-note-display input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: 0px solid #000;
  padding: 0em 1em;
  font-family: 'Inter', sans-serif;
  color: #ABBBC2;
  font-size: 14px;
  font-weight: 400;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-order-note-btn-display .main-food-order-list-delete-btn-container {
  margin-left: 1em;
}

.main-food-order-list-li-container .main-food-order-list-li .main-food-order-list-item .main-food-order-list-order-note-btn-display .main-food-order-list-delete-btn-container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #FF7CA3;
  box-sizing: border-box;
  border-radius: 8px;
  background: #1F1D2B;
  cursor: pointer;
  outline: none;
}
/*# sourceMappingURL=homefoodlistitem.css.map */