@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  font-family: Inter, 'Barlow', sans-serif;

}



body {
  line-height: 1.2;
  height: 100%;
  width: 100%;
  font-weight: 300;
  /* background: #242424; */
  background: #252836;
  color: #ffffff;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 100vh;
}

body::-webkit-scrollbar-track {
  background: #252836;
  border-radius: 100vh;
  background: transparent;

}
body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vh;
}


#root {
  height: 100%;
}